body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(210, 226, 241);
    font-family: arial;
}

.container { height: 480px;
    width: 340px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 0.4px 1.5px;
    margin-top: 80px;
}

img {
    height: 310px;
    width: 290;
    border-radius: 10px;
    margin-top: 13px;
    margin-right: 13px;
    margin-left: 15px;
    
}

h3 {
    
    font-size: 18px;
    text-align: center;

}


p {
    margin-left: 30px;
    width:280px;
    text-align: center;
    font-size: 18px;
    color: gray;
}